@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300i');

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  background-color: #F8F8F8;
  padding-bottom: 20px;
  padding-top: 20px;
}

.text {
  width: 90%;
  margin-left: 6%;
  top: 50px;
  color: #4B4343;


}

.component-header {
  font-size: 2.4em;
  font-family: 'Roboto Condensed', sans-serif;
}


hr {
border-top: 1px solid #4B4343;
}

/** Question Styles **/

.title, .content {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 3px;
}

.title {
  font-size: 2em;
  font-weight: 200;
}

.content {
  width: 70%;
  margin-top: 20px;
  font-family: 'Raleway';
  font-size: 1.2em;
}

.component-title {
  font-size: 1.3em;
}

.qa {
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {

  .title {
    font-size: 4vw;
  }
    .content {
    font-size: 2vw;    }
}

@media only screen and (max-width: 800px) {

  .component-header {
    font-size: 1.8em;
  }

  .title {
    font-size: 5vw;
  }



    .content {
    font-size: 3.5vw;    }
}
