@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300i');

* {
  margin: 0;
  padding: 0;
}


.container {
  width: 100vw;
  overflow: hidden;
  background-color: #F8F8F8;
  z-index: 500;
  overflow: hidden;
}


.description {
  width: 70vw;
  margin-top: 20px;
  font-family: 'Raleway';
  font-size: 1.4vw;
}





.text {
  width: 90vw;
  margin-left: 6%;
  top: 50px;
  color: #4B4343;


}

.component-header {
  font-family: 'Roboto Condensed', sans-serif;
}

.component-title {
  font-size: 1.3em;
}

hr {
border-top: 1px solid #4B4343;
}

/** People Styles */

.person {
  margin-top: 60px;
}

.title, .name, .email {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 3px;
}

.title {
  font-size: 2em;
  font-weight: 200;
}

.name {
  font-size: 1.5em;
  font-weight: 200;
}

.email {
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
}
