@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300');

* {
  margin: 0;
  padding: 0;

  }

/* Container Styles */

.outer-container {
  width: 100%;
}

#route-container {
  position: absolute;
  top: 9vh;
}

/* Overall Nav Bar Styles */

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 10vh;
  z-index: 999;
  color: #DB4949;
  letter-spacing: 1.2px;

}


/* Right Menu Styles */

#menu-right {
  float:right;
  margin-top: 3vh;
  margin-right: 3vw;

}

#menu-list {
  list-style-type: none;
  text-decoration: none;
  font-family: 'Raleway';
  font-size: 1.4em;
  font-weight: 300;
  position: relative;
  top: -5px;


}

.menu-list-item {
float: right;
display: block;
position: relative;
z-index: 500;
margin: 0 10px 0 10px;
}

.menu-list-item:hover {
  cursor: pointer;

}

.dropdown {
  display: none;
  list-style-type: none;
  text-decoration: none;
}

.menu-list-item:hover .dropdown {
  display: block;
}




.menu-link {
  text-decoration: none;
  padding: 6px;
  display: block;

}


/* Dropdown Menu Styles */



.dropdown-item {
  text-align: center;
  color: white;
  padding: 6px;
  border-top: 1px solid white;
  background-color: #DB4949;
  transition: all .25s;
  border-radius: 5px;
}


.dropdown-item:hover {
  background-color: white;
  color: #DB4949;

}

#dropdownActive {

}

/* Left Menu (logo side) Styles */

#menu-left {
  float: left;
  margin-left: 6%;
  margin-top: 2vh;
  font-family: impact;

}

#cog {
  height: 5vh;
  width: 2.6vw;
  float: left;
  display: inline;
  margin-right: 10px;

}

#title {
  float: left;
  display: inline;

  transform: scale(1, 1.1);
  position: relative;
  top: -5px;
}

/* Navlink Styles */

.inactive {
    color: #DB4949;
    text-decoration: none;

}

.active-logo {
    color: #DB4949;
    text-decoration: none;
  }

.active {
      color: #DB4949;
      text-decoration: none;
    }
